h2 {
    text-align: center;
}

form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 8px;
    background-color: lightblue;
}
form p {
    color: white;
}

p {
    font-size: 25px;
}


button {
    margin-top: 20px;
}